
body{
width: 300px;
height: 200px;
background: #0ff;
animation: body 5s infinite

}
@keyframe body{
 form {background-color: #ff0;}
 to {background-color: #f00;}


}
 button submit{

    background-color: #0f0;
}

button logout{
 background-color: #f00;


}